.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height_10vh {
  height: 10vh;
}

.height_30vh {
  height: 30vh;
}

.hflex {
  display: flex;
  flex-direction: row;
}

.flexgrow {
  flex:1
}

.start_button {
  font-size: x-large;
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.start_button:active {
  background-color: gray;
}

.FABCard {
  height: 20vh;
  width: 20vw;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
}