:root {
  --card-border-radius: 6px;
}

.App {
  text-align: center;
}

.full-background-container {
  height: 100vh;
  width: 100vw;
  /* Position if needed, e.g., for absolute positioning within a parent */
  position: relative; /* or absolute, fixed, depending on your layout */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_align_center {
  text-align: center;
}

.height_5vh {
  height: 5vh;
}

.height_10vh {
  height: 10vh;
}

.height_30vh {
  height: 30vh;
}

.game_logistics_panel {
  margin-left: 10vw;
}

.hflex {
  display: flex;
  flex-direction: row;
}
.vflex {
  display: flex;
  flex-direction: column;
}

.flexgrow {
  flex:1
}

.flexgrow10 {
  flex:0.1
}

.start_button {
  font-size: x-large;
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.start_button:active {
  background-color: gray;
}

.FABCard {
  height: 20vh;
  width: 20vw;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
}

.highlight_red {
  border-width: var(--card-border-radius);
  border-color: red;
}

.highlight_blue {
  border-width: var(--card-border-radius);
  border-color: blue;
}

.highlight_yellow {
  border-width: var(--card-border-radius);
  border-color: yellow;
}

.highlight_gray {
  border-width: var(--card-border-radius);
  border-color: darkslategray;
}

p.turn_text {
  font-size: 2em;
  font-weight: bolder;
}

p.player_turn {
  color:blue;
}

p.opponent_turn {
  color:red;
}

.mid_bar {
  display: flex;
  flex-direction: row;
}

.next_button {
  background-color:#74dd74;
  margin-right: 10vw;
  font-size: 3em;
  border-radius: 6px;
  border-width: 4pt;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}